<app-title [title] = "'Resumo Angular'"></app-title>

<app-school 
    [titulo] = "'two way data binding'"
    [descricao] = "'Diretiva [(ngModel)].Usado em formulario. Do html para a classe e vice-versa.
                    Caso dois elementos estejam usando o mesmo atributo essa comunicação ocorre automaticamente.'">
    <app-diretivas></app-diretivas>
</app-school>

<app-school
    [titulo] = "'ngIf'"
    [descricao] = "'Essa diretiva define a visibilidade de um elemento'"
>
    <app-ng-if></app-ng-if>
</app-school>

<app-school>
    <app-ng-for></app-ng-for>
</app-school>

<app-school
    [titulo] = "'Reatividade'"
    [descricao] = "'É basicamente quando o que está sendo
    exibido depende dos atributos das classes. Para esse 
    exemplo vamos combinar dois conceitos já aprendidos: diretiva ngModel e ngFor.'"
>
    <app-reatividade></app-reatividade>
    
</app-school>

<app-school
    [titulo] = "'ng switch case'"
    [descricao] ="'Controle o que será exibido apenas mudando os atributos das classes.'"
    >
    <app-ng-witch-case></app-ng-witch-case>
    
</app-school>


<router-outlet></router-outlet>